{% extends 'base.html.twig' %}

{% block title %}Liste des environnements{% endblock %}

{% block body %}
    <h1 class="mt-4">
        Environnement
        <a href="{{ path('environment_new') }}" class="btn btn-primary float-right envoyer">Ajouter environnement</a>
    </h1>
    <table class="table table-bordered">
        {% for environment in environments %}
            <tr>

                <td><a href="{{ path('environment_show', {'id': environment.id}) }}">{{ environment.name|title }}</td>
                <td width="20%">
                    <a href="{{ path('environment_edit', {'id': environment.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                    <a href="{{ path('environment_edit', {'id': environment.id}) }}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
