{% extends 'base.html.twig' %}

{% block title %}{{ environment.name|title }}{% endblock %}

{% block body %}
    <h1 class="mt-4">
        {{ environment.name|title }}
        <a href="{{ path('mustache_new') }}" class="btn btn-primary float-right">Ajouter mustache</a>
    </h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom </th>
                <th width="30%">Option </th>
            </tr>
        </thead>
        <tbody>
            {% for f in environment.mustaches %}
                <tr>
                    <td>{{ f.name }}</td>
                    <td>
                        <a href=""><i class="fas fa-pencil-alt"></i></a>
                        <a href=""><i class="fas fa-trash"></i></a>
                        <a href="{{ path('editeur',{'id': f.id}) }}"><i class="fas fa-pencil-ruler"></i></a>
                        <a href=""><i class="fas fa-download"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr class="table-danger">
                    <td colspan="2">Vous n'avez pas de fonction mustache.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
