{% extends 'base.html.twig' %}

{% block title %}{{ environment.name|title }}{% endblock %}

{% block body %}
    <h1 class="mt-4">
        {{ environment.name|title }}
        <a href="{{ path('mustache_new',{'id':environment.id}) }}" class="btn btn-primary float-right">Ajouter mustache</a>
    </h1>
    <table class="table table-bordered">

        {% for mustache in environment.mustaches|sort|reverse %}
            <tr>
                <td>{{ mustache.name }}</td>
                <td width="30%">
                    <a href="{{ path('mustache_edit',{'id':mustache.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                    <a href="" data-toggle="modal" data-target="#deleteModal-{{ mustache.id }}"><i class="fas fa-trash"></i></a>
                    <a href="{{ path('mustache_show',{'id': mustache.id}) }}"><i class="fas fa-pencil-ruler"></i></a>
                    <a href="{{ path('home',{'id': mustache.id})}}"><i class="fas fa-download"></i></a>
                </td>
                {{ include('mustache/_delete_form.html.twig') }}
            </tr>

        {% endfor %}
    </table>


{% endblock %}
