{% extends 'base.html.twig' %}

{% block title %}Editeur{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('plugins/codemirror-5.53.2/lib/codemirror.css')}}" rel="stylesheet">
    <link href="{{ asset('plugins/codemirror-5.53.2/addon/hint/show-hint.css')}}" rel="stylesheet">
    <script src="{{ asset('plugins/codemirror-5.53.2/lib/codemirror.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/foldcode.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/foldgutter.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/brace-fold.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/xml-fold.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/indent-fold.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/markdown-fold.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/comment-fold.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/mode/javascript/javascript.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/mode/xml/xml.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/mode/css/css.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/mode/htmlmixed/htmlmixed.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/mode/python/python.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/mode/markdown/markdown.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/addon/hint/show-hint.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/addon/hint/html-hint.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/addon/hint/css-hint.js')}}"></script>
    <script src="{{ asset('plugins/codemirror-5.53.2/addon/hint/xml-hint.js')}}"></script>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- css bloc -->
            <div class="col-6 mt-4 " id="css_full_field">
                <form class="form-inline">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-plus"></i></div>
                        </div>
                        <input type="text" class="form-control" id="name-css" name="name">
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <button  id="save_css" class="btn btn-outline-primary">
                            <i id="save_css_icon" class="fas fa-save"></i>
                            <div class="spinner-border spinner-border-sm text-primary" role="status" id="add_css_item_loader">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                    <div class="input-group mb-2 mr-sm-2" style="width:180px;overflow: hidden;">
                        <select class="form-control" id="select-css">
                        </select>
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <button type="submit" id="del_css" class="btn btn-outline-danger">
                            <i id="del_css_icon" class="fas fa-trash"></i>
                            <div class="spinner-border spinner-border-sm text-danger" role="status" id="del_css_item_loader">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                </form>
                <textarea id="code-css"></textarea>
            </div>
            <!-- data bloc -->
            <div class="col-6 mt-4">
                <form class="form-inline">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-plus"></i></div>
                        </div>
                        <input type="text" class="form-control" id="name-data" name="name">
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <button type="submit" id="save_data" class="btn btn-outline-primary">
                            <i id="save_data_icon" class="fas fa-save"></i>
                            <div class="spinner-border spinner-border-sm text-primary" role="status" id="add_data_item_loader">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                    <div class="input-group mb-2 mr-sm-2" style="width:180px;overflow: hidden;">
                        <select class="form-control" id="select-data">
                        </select>
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <button type="submit" id="del_data" class="btn btn-outline-danger">
                            <i id="del_data_icon" class="fas fa-trash"></i>
                            <div class="spinner-border spinner-border-sm text-danger" role="status" id="del_data_item_loader">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                </form>
                <textarea id="code-json">{ }</textarea>
            </div>
        </div>
        <div class="row">
            <!-- Template bloc -->
            <div class="col-6">
                <form class="form-inline">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-plus"></i></div>
                        </div>
                        <input type="text" class="form-control" id="name-template" name="name">
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <button type="submit" id="save_template" class="btn btn-outline-primary">
                            <i id="save_template_icon" class="fas fa-save"></i>
                            <div class="spinner-border spinner-border-sm text-primary" role="status" id="add_template_item_loader">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                    <div class="input-group mb-2 mr-sm-2" style="width:180px;overflow: hidden;">
                        <select class="form-control" id="select-template">
                        </select>
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <button type="submit" id="del_template" class="btn btn-outline-danger">
                            <i id="del_template_icon" class="fas fa-trash"></i>
                            <div class="spinner-border spinner-border-sm text-danger" role="status" id="del_template_item_loader">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                </form>
                <textarea id="code-html"></textarea>
            </div>

            <!-- view bloc -->
            <div class="col-6">
                <div class="mb-2">
                    <button id="btn-run" class="btn btn-success mr-2" ><i class="fas fa-play"></i></button>
                    <button id="btn-image" class="btn btn-outline-warning" ><i class="far fa-image"></i></button>
                    <a href="{{ path('environment_index') }}" class="btn btn-outline-secondary float-right"><i class="fas fa-home"></i></a>
                </div>
                <iframe id="renderFrame" style="border:1px solid #ddd;"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>var mustache_id = "{{mustache.id}}";</script>
    <script src="{{ asset('js/mustache.js')}}"></script>
    <script src="{{ asset('js/custom.js')}}"></script>
{% endblock %}
