{% extends 'base.html.twig' %}

{% block title %}Editeur{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- css bloc -->
            <div class="col-6 mt-4 " id="css_full_field">
                <form class="form-inline">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-plus"></i></div>
                        </div>
                        <input type="text" class="form-control" id="name-css" name="name">
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <button  id="css_save" class="btn btn-outline-primary">
                            <i id="css_save_icon" class="fas fa-save"></i>
                            <div class="spinner-border spinner-border-sm text-primary" role="status" id="add_css_item_loader">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                    <div class="input-group mb-2 mr-sm-2" style="width:180px;overflow: hidden;">
                        <select class="form-control" id="select-css">
                        </select>
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <button type="submit" id="del_css" class="btn btn-outline-danger">
                            <i id="del_css_icon" class="fas fa-trash"></i>
                            <div class="spinner-border spinner-border-sm text-danger" role="status" id="del_css_item_loader">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                </form>
                <div id="code-css" class="mb-2" style="width:100%;height: 300px"></div>
            </div>
            <!-- data bloc -->
            <div class="col-6 mt-4">
                <form class="form-inline">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-plus"></i></div>
                        </div>
                        <input type="text" class="form-control" id="name-data" name="name">
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <button type="submit" id="save_data" class="btn btn-outline-primary">
                            <i id="save_data_icon" class="fas fa-save"></i>
                            <div class="spinner-border spinner-border-sm text-primary" role="status" id="add_data_item_loader">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                    <div class="input-group mb-2 mr-sm-2" style="width:180px;overflow: hidden;">
                        <select class="form-control" id="select-data">
                        </select>
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <button type="submit" id="del_data" class="btn btn-outline-danger">
                            <i id="del_data_icon" class="fas fa-trash"></i>
                            <div class="spinner-border spinner-border-sm text-danger" role="status" id="del_data_item_loader">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                </form>
                <div id="code-data" class="mb-2" style="width:100%;height: 300px;"></div>
            </div>
        </div>
        <div class="row">
            <!-- Template bloc -->
            <div class="col-6">
                <form class="form-inline">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-plus"></i></div>
                        </div>
                        <input type="text" class="form-control" id="name-template" name="name">
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <button type="submit" id="save_template" class="btn btn-outline-primary">
                            <i id="save_template_icon" class="fas fa-save"></i>
                            <div class="spinner-border spinner-border-sm text-primary" role="status" id="add_template_item_loader">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                    <div class="input-group mb-2 mr-sm-2" style="width:180px;overflow: hidden;">
                        <select class="form-control" id="select-template">
                        </select>
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <button id="del_template" class="btn btn-outline-danger">
                            <i id="del_template_icon" class="fas fa-trash"></i>
                            <div class="spinner-border spinner-border-sm text-danger" role="status" id="del_template_item_loader">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </div>
                </form>
                <div id="code-html" class="mb-2" style="width:100%;height: 300px;"></div>
            </div>

            <!-- view bloc -->
            <div class="col-6">
                <div class="mb-2">
                    <button id="btn-run" class="btn btn-success mr-2" ><i class="fas fa-play"></i></button>
                    <button id="btn-image" class="btn btn-outline-warning" ><i class="far fa-image"></i></button>
                    <a href="{{ path('environment_index') }}" class="btn btn-outline-secondary float-right"><i class="fas fa-home"></i></a>
                </div>
                <iframe id="renderFrame" style="border:1px solid #ddd;"></iframe>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalImg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Visualisation en mode image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"  id="img">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/html2canvas.js')}}"></script>
    <script src="{{ asset('js/jquery.plugin.html2canvas.js')}}"></script>
    <script src="{{ asset('js/mustache.js')}}"></script>
    <script src="{{ asset('plugins/monaco-editor/min/vs/loader.js')}}"></script>
    <script>var mustache_id = "{{mustache.id}}";</script>

    <script src="{{ asset('js/custom.js')}}"></script>
{% endblock %}
