<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
            <link href="{{ asset('plugins/codemirror-5.53.2/lib/codemirror.css')}}" rel="stylesheet">
            <link href="{{ asset('plugins/codemirror-5.53.2/addon/hint/show-hint.css')}}" rel="stylesheet">
            <script src="{{ asset('plugins/codemirror-5.53.2/lib/codemirror.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/foldcode.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/foldgutter.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/brace-fold.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/xml-fold.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/indent-fold.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/markdown-fold.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/addon/fold/comment-fold.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/mode/javascript/javascript.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/mode/xml/xml.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/mode/css/css.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/mode/htmlmixed/htmlmixed.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/mode/python/python.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/mode/markdown/markdown.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/addon/hint/show-hint.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/addon/hint/html-hint.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/addon/hint/css-hint.js')}}"></script>
            <script src="{{ asset('plugins/codemirror-5.53.2/addon/hint/xml-hint.js')}}"></script>

            <style>
                .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
            </style>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #dc3545;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">Template Builder</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <ul class="navbar-nav">
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">{{ app.user.email }} <span class="caret"></span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            {% for message in app.flashes('success') %}
                <div class="alert alert-dismissible alert-success mt-4">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
            <script src="https://unpkg.com/mustache@latest"></script>
            <script>
                $(function () {
                    $('button').click(function () {
                        document.querySelector('.envoyer').innerHTML = 'En cours...';
                        this.form.submit();
                        this.disabled = true;
                    });
                }
                );
            </script>
        {% endblock %}
    </body>
</html>
